<h1>About the Team</h1>

<div class="row about-us">

  <div class="col-md-12 about-us">
    <span class="heading">
      <h4> Erica Chai </h4>
      <h6> Co-Founder </h6>
    </span>
  </div>

  <div class="col-md-12">
    <span class="heading">
      <h4> Kelvin Mei </h4>
      <h6> Co-Founder </h6>
    </span>
  </div>

  <div class="col-md-12">
    <span class="heading">
      <h4> Jorden Rabasco </h4>
      <h6> Co-Founder </h6>
    </span>
  </div>

</div>
