<% if @users.blank? %>
<p>There are not any books currently in the system.</p>
<% else %>
<p>These are the current books in our system</p>

<% end %>
<p><%= link_to "Add new Book", {:action => 'new' }%></p>
