<% provide(:title, @user.username) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.username %>
            </h1>
        </section>
    </aside>
</div>

<div class = "row">
  <h2>
    Current Registered Parties:

    <ul>
        <% Party.all.each do |party| %>
          <% if party.user_id == current_user.id %>
          <li><%= link_to Event.name_by_id(party.event_id).first.name, Event.find(party.event_id) %>
            <%= button_to 'Delete', { action: "drop", id: party.event_id }, data: { confirm: 'Are you sure?' }, :class => 'event-button'%>
          </li>
          <% end %>
        <% end %>
    </ul>

</h2>
</div>
