<div class="col-md-12 all-events">
    <% Event.all.each do |event| %>
        <div class="color-box">
            <p><%= image_tag event.avatar.url(:thumb) %></p>
            <p><%= link_to "#{event.name}", event %></p>
        </div>
    <% end %>
</div>
