<div class="field">
  <label for="field1">
  <span>Routing No.</span>
  <%= f.text_field :routing %>
  </label>
</div>

<div class="field">
  <label for="field1">
  <span>Account No.</span>
  <%= f.text_field :account %>
  </label>
</div>
