<% if logged_in? %>
<div class="col-md-12 all-events">
    <% @my_events.each do |event| %>
        <div class="color-box" data-turbolinks="false">
            <p><%= link_to "#{image_tag event.avatar.url(:thumb)}".html_safe, event %></p>
            <p><%= link_to "#{event.name}", event %></p>
        </div>
    <% end %>
</div>
<% end %>
