<%= video_tag "people-partying.mp4", autoplay: true, muted: true, loop: true, class: "video" %>
<p class="new-event">
    <% if logged_in? %>
    <%= link_to 'New Event', new_event_path, class: "new-button" %>
      <% if @heat %>
        <%= button_to 'Expand Radius', '/expand', :method => :post, :class => 'new-button'%>
      <% end %>
    <% end %>
</p>

<%= render 'event_partial' %>
