// Place all the styles related to the Charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#return{
  font-size: 2em;
}

#success{
  font-family: Georgia, "Times New Roman", Times, serif;
}

.amount{
  font-size:2em;
}
