@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */
* {
    font-family: 'Rockwell';
}

.event-button {
    background-color: #ff7f50;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 150px;
    height: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 50px;
}

body {
    padding-top: 60px;
    margin-bottom: 100px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}
/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 5;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}
/* header */
/* navbar */
.navbar {
    background-color: white;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: red;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}

#logo:hover {
    color: yellow;
    text-decoration: none;
}
/* footer */
footer {
    position: fixed;
    height: auto;
    width: 100%;
    left: 0;
    bottom: 10px;
    border-top: 1px solid #eaeaea;
    color: #777;
    background-color: white;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}
/* sidebar */
aside {
    section.user_info {
        margin-top: 20px;
    }

    section {
        padding: 10px 0;
        margin-top: 20px;

        &:first-child {
            border: 0;
            padding-top: 0;
        }

        span {
            display: block;
            margin-bottom: 3px;
            line-height: 1;
        }

        h1 {
            font-size: 1.4em;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0;
        }
    }
}

.gravatar {
    float: left;
    margin-right: 10px;
}

.gravatar_edit {
    margin-top: 15px;
}
/* forms */
$gray-medium-light: #eaeaea;
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.uneditable-input,
input,
select,
textarea {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;

    ul {
        color: red;
        margin: 0 0 30px;
    }
}

.field_with_errors {
    @extend .has-error;

    .form-control {
        color: $state-danger-text;
    }
}




/* table */
td {
    padding: 15px;
}
/* images */
img {
    max-width: 100%;
    max-height: 100%;
}

.portrait {
    height: 80px;
    width: 30px;
}

.landscape {
    height: 30px;
    width: 80px;
}

.square {
    height: 75px;
    width: 75px;
}

.own-event {
    float: left;
    display: inline-block;
    margin-top: -50px;
    height: 380px;
    width: 360px;
    text-align: center;
    margin-top: -300px;
}

.own-event img {
    position: relative;
    max-height: 350px;
    max-width: 300px;
    height: auto;
    width: auto;
    margin-top: 10px;
}

.all-events {
    text-align: center;
    position: relative;
    margin-top: 200px;
}

.color-box {
    background: rgba(255, 255, 255, 0.5);
    height: 280px;
    width: 350px;
}

.new-event {
    position: relative;
    margin-bottom: 80px;
    margin-left: 43%;
}
/* show_party css in user show */
#show_party {
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

#current_table{
    margin: auto;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Maps */

#map {
   height: 400px;
   width: 60%;
}

.video {
 position: relative;
 top: 100px; left: 50%;
 z-index: 1;
 min-width: 1500px;
 min-height: 50px;
 transform: translate(-50%, -50%);
 margin-bottom: -300px;
}

.party-sort {
  margin-top: -100px;
}

.new-button {
  background-color: #ff7f50;
  border: none;
  color: white;
  padding: 15px 32px;
  width: 150px;
  min-height: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 2px;
  cursor: pointer;
}
